.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-header {
  align-items: center;
  background: none;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 50vh;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.question-correct {
  border: 3px solid rgb(6, 240, 15);
}

.question-incorrect {
  border: 3px solid red;
}

body {
  background-image: url(https://images2.imgbox.com/a7/35/1bLH0YZw_o.jpg);
  background-size: 100%;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

input {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin: 5px;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin: 5px;
}

form {
  background-color: #313131;
  width: 400px;
  border-radius: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form h1 {
  margin: 20px;
}

#input-gravatar-email {
  margin-left: 19px;
}

header {
  background-color: #313131;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon-header {
  border-radius: 10px;
}

.div-game{
  background-color: #313131;
  border-radius: 20px;
  width: 700px;
  margin: auto;
  height: 250px;
}

.div-game button, p {
  margin: 15px;
}

p {
  text-shadow: 0.2em 0.2em 0.2em black;
}

.timer {
  padding-top: 20px;
}

#buttonNext:hover {
  background-color: #434343;
  color: white;
  transition: 400ms;
}

.cfg-button:hover {
  background-color: #313131;
  color: white;
  transition: 400ms;
}

.div-ranking {
  background-color: #313131;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 20px auto;
}

.div-ranking img {
  border-radius: 10px;
}

#go-home-rank:hover {
  background-color: #313131;
  color: white;
  transition: 400ms;
}
